body { margin:0; padding:0; }


h3 {
  padding: 0.2em;
  margin: auto;
}

a {
  color: #fff;
}

#map { position:absolute; top:0; bottom:0; width:100%; height:100% }



.mapboxgl-popup {
z-index: 1;
max-width: 400px;
font-size: 1em;
font-family: 'Source Sans Pro', sans-serif;
font-weight: 400;
color: #eee;
height: 300px;
}

.mapboxgl-popup-tip {
  opacity: 0;
  border: 0;
}

.mapboxgl-popup-close-button {
  color: #eee;
  font-size: 2em;
  position: fixed;
  margin-right: 1em;
}

.mapboxgl-popup-content {
background: #111;
opacity: 0.9;
padding: 1em;
overflow-y: scroll;
}



#boxtitle {
text-align: left;
font-size: 0.8em;
color: #eee;
background: #111;
position: absolute;
top: 10px;
left: 10px;
width: 200px;
opacity: 0.9;
padding: 1em;
font-family: 'Source Sans Pro', sans-serif;
border: 0.5px solid rgba(255,255,255,0.5);
}


#legend {
  color: #eee;
  background: #111;
  position: absolute;
  bottom: 50px;
  left: 10px;
  width: auto;
  opacity: 0.9;
  padding: 1em;
  margin: 0em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 0.8em;
}

.legenditem {
  text-align: center;
  color: #fff;
  background: #2c8d8d;
  float: right;
  width: 50px;
  height: auto;
  padding: 1px 0;
  opacity: 1;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 0.8em;
}

#item1 {
  background: #2c8d8d;
}

#item2 {
  background: #20697b;
}

#item3 {
  background: #17506f;
}

#item4 {
  background: #103a64;
}

#item5 {
  background: #0c2359;
}

#item6 {
  background: #131755;
}

#item7 {
  background: #321457;
}

#item8 {
  background: #4e135a;
}

#item9 {
  background: #6e135e;
}

#item10 {
  background: #9a1362;
}
